<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/switch.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/run.js"></script>
    <meta charset="UTF-8">
    <title>vue-switch</title>
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center">vue-switch</h1>
    <ul id="nav" role="tablist" class="nav nav-tabs">
        <li v-for="(list,index) in lists" role="presentation" :class="list.classObj" @click="active(index)">
            <a href="#">{{list.text}}</a>
        </li>
    </ul>
    <!-- Tab panes storage -->
    <div class="tab-content">
        <div id="storage" role="tabpanel" class="tab-pane container ">
            <div class="row">
                <div class="col-md-5">
                    <my-input :value="input" @input="input = arguments[0]"></my-input>
                </div>
                <div class="col-md-3">
                    <select-unit :units="units" :value="now" @change="now = arguments[0]"></select-unit>
                </div>
                <div class="col-md-1">
                    <reversal v-on:click="reversal"></reversal>
                </div>
                <div class="col-md-3">
                    <select-unit :units="[{value:'all',text:'全部'}].concat(units)" :value="future"
                                 @change="future = arguments[0]"></select-unit>
                </div>
            </div>
            <div class="row">
                <div v-if="display.clear" class="col-md-12">
                    <detail :detail="display.clearData"></detail>
                </div>
                <div v-if="display.all" class="col-md-6">
                    <table style="width: 80%;margin: auto" class="table">
                        <tbody>
                        <tr>
                            <td>{{bit}}</td>
                            <td>比特(bit)</td>
                        </tr>
                        <tr>
                            <td>{{b}}</td>
                            <td>字节(b)</td>
                        </tr>
                        <tr>
                            <td>{{kb}}</td>
                            <td>千字节(kb)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="display.all" class="col-md-6">
                    <table style="width: 80%;margin: auto" class="table">
                        <tbody>
                        <tr>
                            <td>{{mb}}</td>
                            <td>兆字节(mb)</td>
                        </tr>
                        <tr>
                            <td>{{gb}}</td>
                            <td>千兆字节(gb)</td>
                        </tr>
                        <tr>
                            <td>{{tb}}</td>
                            <td>太字节(tb)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <unit content="国际单位：字节(b)"></unit>
            </div>
        </div>
        <div id="length" role="tabpanel" class="tab-pane container active">
            <div class="row">
                <div class="col-md-5">
                    <my-input :value="input" @input="input = arguments[0]"></my-input>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="units" :value="now" @change="now = arguments[0]"></select-group-unit>
                </div>
                <div class="col-md-1">
                    <reversal v-on:click="reversal"></reversal>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="[{name:'全部',values:[{key:'all',unit:'全部'}]}].concat(units)"
                                       :value="future"
                                       @change="future = arguments[0]"></select-group-unit>
                </div>
            </div>
            <div class="row">
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key"
                                 v-if="_.indexOf(['metric','navigation','astronomy'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key" v-if="_.indexOf(['cn','en_us'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.clear" class="col-md-12">
                    <detail :detail="display.clearData"></detail>
                </div>
                <unit content="国际单位：米(m)"></unit>
            </div>
        </div>
        <div id="area" role="tabpanel" class="tab-pane container">
            <div class="row">
                <div class="col-md-5">
                    <my-input :value="input" @input="input = arguments[0]"></my-input>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="units" :value="now" @change="now = arguments[0]"></select-group-unit>
                </div>
                <div class="col-md-1">
                    <reversal v-on:click="reversal"></reversal>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="[{name:'全部',values:[{key:'all',unit:'全部'}]}].concat(units)"
                                       :value="future"
                                       @change="future = arguments[0]"></select-group-unit>
                </div>
            </div>
            <div class="row">
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key"
                                 v-if="_.indexOf(['metric','navigation','astronomy'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key" v-if="_.indexOf(['cn','en_us'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.clear" class="col-md-12">
                    <detail :detail="display.clearData"></detail>
                </div>
                <unit content="国际单位：米(m)"></unit>
            </div>
        </div>
        <div id="bulk" role="tabpanel" class="tab-pane container">
            <div class="row">
                <div class="col-md-5">
                    <my-input :value="input" @input="input = arguments[0]"></my-input>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="units" :value="now" @change="now = arguments[0]"></select-group-unit>
                </div>
                <div class="col-md-1">
                    <reversal v-on:click="reversal"></reversal>
                </div>
                <div class="col-md-3">
                    <select-group-unit :units="[{name:'全部',values:[{key:'all',unit:'全部'}]}].concat(units)"
                                       :value="future"
                                       @change="future = arguments[0]"></select-group-unit>
                </div>
            </div>
            <div class="row">
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key"
                                 v-if="_.indexOf(['metric','navigation','astronomy'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.all" class="col-md-6">
                    <result-list :results="result" :key="result.key" v-if="_.indexOf(['cn','en_us'],result.key) >= 0"
                                 v-for="result in units"></result-list>
                </div>
                <div v-if="display.clear" class="col-md-12">
                    <detail :detail="display.clearData"></detail>
                </div>
                <unit content="国际单位：米(m)"></unit>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script>

    Vue.component('my-input', {
        template: '' +
        '<input ref="input" :value="value" @input="syncParent($event.target.value)" class="form-control text-right" placeholder="请输入数值">',
        props: ['value'],
        methods: {
            syncParent: function (value) {
                var formattedValue = value
                // 删除两侧的空格符
                    .trim()
                    // 保留 2 位小数
                    .slice(
                        0,
                        value.indexOf('.') === -1
                            ? value.length
                            : value.indexOf('.') + 3
                    );
                // 如果值尚不合规，则手动覆盖为合规的值
                if (formattedValue !== value) {
                    this.$refs.input.value = formattedValue
                }
                // 通过 input 事件带出数值
                this.$emit('input', Number(formattedValue))
            }
        }
    });

    Vue.component('unit', {
        template:
        '                <div class="row">\n' +
        '                    <div class="col-md-12" style="margin-top: 10px;color: #999;">\n' +
        '                        <p class="text-right">{{content}}</p>' +
        '                    </div>\n' +
        '                </div>',
        props: ['content']
    });

    Vue.component('detail', {
        template: "<h1 style=\"border-bottom: 1px solid #ebebeb;\" class=\"text-center\">{{detail}}</h1>",
        props: ['detail']
    });

    Vue.component('reversal', {
        template: "" +
        "               <button type=\"button\" class=\"btn btn-default\" aria-label=\"Left Align\" @click='reversal'>\n" +
        "                   <span class=\"glyphicon glyphicon-transfer\" aria-hidden=\"true\"></span>\n" +
        "               </button>\n",
        methods: {
            reversal: function () {
                this.$emit('click')
            }
        }
    })

    Vue.component('select-unit', {
        template: "                    <select class=\"form-control\" :value='value' @change='change($event.target.value)'>\n" +
        "                        <option :value=\"unit.value\" v-for=\"(unit,index) in units\">{{unit.text}}</option>\n" +
        "                    </select>",
        props: ['units', 'value'],
        methods: {
            change: function (value) {
                this.$emit('change', value)
            }
        }
    });

    Vue.component('select-group-unit', {
        template:
        "<select class=\"form-control\" :value='value' @change='change($event.target.value)'>\n" +
        "<optgroup :label='unit.name' v-for='unit in units'>" +
        "<option :value=\"value.key\" v-for=\"value in unit.values\">{{value.unit}}</option>\n" +
        "</optgroup>" +
        "</select>",
        props: ['units', 'value'],
        methods: {
            change: function (value) {
                this.$emit('change', value)
            }
        }
    });

    Vue.component('result-list', {
        template:
        "<ul class='list-group'>" +
        "<h3>{{results.name}}</h3>" +
        "<li class='list-group-item' style='height: 45px;' v-for='result in results.values'>" +
        "<p-left :content='result.unit'></p-left>" +
        "<p-right :content='result.value'></p-right>" +
        "</li>" +
        "</ul>",
        props: ['results']
    });
    Vue.component('p-left', {
        template: "<p style='float: left;display:inline-block;'>{{content}}</p>",
        props: ['content']
    });
    Vue.component('p-right', {
        template: "<p style='float: right;display:inline-block;'>{{content}}</p>",
        props: ['content']
    });

    var nav = new Vue({
        el: "#nav",
        data: {
            lists: [
                {text: '存储单位', classObj: {active: false}},
                {text: '长度', classObj: {active: true}},
                {text: '面积', classObj: {active: false}},
                {text: '体积', classObj: {active: false}}
            ],
            lastActive: 1
        },
        methods: {
            active: function (even) {
                this.lists[this.lastActive].classObj.active = false;
                $(".tab-content").find('.tab-pane.container:eq(' + this.lastActive + ')').attr('class', "tab-pane container");
                this.lists[even].classObj.active = true;
                $(".tab-content").find('.tab-pane.container:eq(' + even + ')').attr('class', "tab-pane container active");
                this.lastActive = even;
            }
        }
    });

    var storage = new Vue({
        el: "#storage",
        data: {
            units: [
                {value: 'bit', text: '比特'},
                {value: 'b', text: '字节'},
                {value: 'kb', text: '千字节'},
                {value: 'mb', text: '兆字节'},
                {value: 'gb', text: '千兆字节'},
                {value: 'tb', text: '钛兆字节'}
            ],
            display: {
                all: true,
                clear: false,
                clearData: null
            },
            input: 0,
            now: 'b',
            future: 'all',
            b: 0,
            bit: 0,
            kb: 0,
            mb: 0,
            gb: 0,
            tb: 0
        },
        watch: {
            input: function () {
                this.translate()
            },
            now: function () {
                this.translate()
            },
            future: function () {
                if (this.future === 'all') {
                    this.display.clear = false;
                    this.display.all = true;
                } else {
                    this.display.clearData = this.input + this.now + '=' + this[this.future] + this.future;
                    this.display.clear = true;
                    this.display.all = false;
                }
            }
        },
        methods: {
            translate: function () {
                switch (this.now) {
                    case 'bit':
                        this.b = this.input / Math.pow(2, 3);
                        this.bit = this.input;
                        this.kb = this.input / Math.pow(2, 3) / Math.pow(2, 10);
                        this.mb = this.input / Math.pow(2, 3) / Math.pow(2, 20);
                        this.gb = this.input / Math.pow(2, 3) / Math.pow(2, 30);
                        this.tb = this.input / Math.pow(2, 3) / Math.pow(2, 40);
                        break;
                    case 'b':
                        this.b = this.input;
                        this.bit = this.input * Math.pow(2, 3);
                        this.kb = this.input / Math.pow(2, 10);
                        this.mb = this.input / Math.pow(2, 20);
                        this.gb = this.input / Math.pow(2, 30);
                        this.tb = this.input / Math.pow(2, 40);
                        break;
                    case 'kb':
                        this.b = this.input * Math.pow(2, 10);
                        this.bit = this.input * Math.pow(2, 3) * Math.pow(2, 10);
                        this.kb = this.input;
                        this.mb = this.input / Math.pow(2, 10);
                        this.gb = this.input / Math.pow(2, 20);
                        this.tb = this.input / Math.pow(2, 30);
                        break;
                    case 'mb':
                        this.b = this.input * Math.pow(2, 20);
                        this.bit = this.input * Math.pow(2, 3) * Math.pow(2, 20);
                        this.mb = this.input;
                        this.kb = this.input * Math.pow(2, 10);
                        this.gb = this.input / Math.pow(2, 10);
                        this.tb = this.input / Math.pow(2, 20);
                        break;
                    case 'gb':
                        this.bit = this.input * Math.pow(2, 3) * Math.pow(2, 30);
                        this.b = this.input * Math.pow(2, 30);
                        this.kb = this.input * Math.pow(2, 20);
                        this.mb = this.input * Math.pow(2, 10);
                        this.gb = this.input;
                        this.tb = this.input / Math.pow(2, 10);
                        break;
                    case 'tb':
                        this.bit = this.input * Math.pow(2, 3) * Math.pow(2, 40);
                        this.b = this.input * Math.pow(2, 40);
                        this.kb = this.input * Math.pow(2, 30);
                        this.mb = this.input * Math.pow(2, 20);
                        this.gb = this.input * Math.pow(2, 10);
                        this.tb = this.input;
                        break;
                }
                if (this.future !== 'all') {
                    this.display.clearData = this.input + this.now + '=' + this[this.future] + this.future
                }
            },
            reversal: function () {
                if (this.future !== 'all') {
                    var now = this.now;
                    this.now = this.future;
                    this.future = now;
                }
            }
        }
    });

    var length = new Vue({
        el: "#length",
        data: {
            units: [
                {
                    key: 'metric',
                    name: '公制',
                    values: [
                        {unit: 'mm(毫米)', key: 'mm', value: 0, formula: 1},
                        {unit: 'cm(厘米)', key: 'cm', value: 0, formula: 10},
                        {unit: 'dm(分米)', key: 'dm', value: 0, formula: 100},
                        {unit: 'm(米)', key: 'm', value: 0, formula: 1000},
                        {unit: 'km(千米)', key: 'km', value: 0, formula: 10000}
                    ]
                },
                {
                    key: 'cn',
                    name: '中国',
                    values: [
                        {unit: '豪', key: 'cn_hao', value: 0, formula: 1 / 30},
                        {unit: '厘', key: 'cn_li', value: 0, formula: 1 / 3},
                        {unit: '分', key: 'cn_fen', value: 0, formula: 10 / 3},
                        {unit: '寸', key: 'cn_cun', value: 0, formula: 100 / 3},
                        {unit: '尺', key: 'cn_chi', value: 0, formula: 1000 / 3},
                        {unit: '丈', key: 'cn_zhang', value: 0, formula: 10000 / 3},
                        {unit: '里', key: 'cn_Li', value: 0, formula: 500000}
                    ]
                },
                {
                    key: 'navigation',
                    name: '航海',
                    values: [
                        {unit: '海里', key: 'nautical', value: 0, formula: 1852000},
                        {unit: '英寻', key: 'xun', value: 0, formula: 1828.8}
                    ]
                },
                {
                    key: 'astronomy',
                    name: '天文',
                    values: [
                        {key: 'pc', unit: '秒差距 (pc', value: 0, formula: 3.08567758 * Math.pow(10, 19)},
                        {key: 'light_year', unit: '光年', value: 0, formula: 9.4605284 * Math.pow(10, 18)},
                        {key: 'ae', unit: '天文单位 (AE)', value: 0, formula: 1.49597871 * Math.pow(10, 14)},
                        {
                            key: 'light_second',
                            unit: '光秒',
                            value: 0,
                            formula: 2.99792458 * Math.pow(10, 11)
                        },
                        {
                            key: 'light_minute',
                            unit: '光分',
                            value: 0,
                            formula: 1.79875475 * Math.pow(10, 13)
                        }
                    ]
                },
                {
                    key: 'en_us',
                    name: '英／美',
                    values: [
                        {key: 'in', unit: '英寸(in)', value: 0, formula: 25.4},
                        {key: 'ft', unit: '英尺(ft)', value: 0, formula: 304.8},
                        {key: 'mi', unit: '英里(mi)', value: 0, formula: 1609344},
                        {key: 'yd', unit: '码(yd)', value: 0, formula: 914.4}
                    ]
                }
            ],
            display: {
                all: true,
                clear: false,
                clearData: null
            },
            input: 0,
            now: 'cm',
            future: 'all'
        },
        watch: {
            input: function () {
                this.translate()
            },
            now: function () {
                this.translate()
            },
            future: function () {
                if (this.future === 'all') {
                    this.display.clear = false;
                    this.display.all = true;
                } else {
                    this.translate();
                    this.display.clear = true;
                    this.display.all = false;
                }
            }
        },
        methods: {
            translate: function () {
                var that = this;
                var now_formula = 0;
                var future_formula = 0;
                var future_unit, now_unit;
                _.forEach(this.units, function (value, key) {
                    var future = _.find(value.values, {'key': that.future});
                    var now = _.find(value.values, {'key': that.now});
                    if (future !== undefined) {
                        future_unit = _.result(future, 'unit');
                        future_formula = _.result(future, 'formula');
                    }
                    if (now !== undefined) {
                        now_unit = _.result(now, 'unit');
                        now_formula = _.result(now, 'formula');
                    }
                });
                _.forIn(this.units, function (group, g_key) {
                    _.forEach(group.values, function (value, key) {
                        value.value = parseFloat(that.input) * now_formula / parseFloat(value.formula);
                        value.value = _Run.toExponential(value.value,7,4)
                    })
                });
                if (this.future !== 'all') {
                    var result = this.input * now_formula / future_formula;
                    this.display.clearData = this.input + now_unit + '=' +
                        _Run.toExponential(result,7,4) + ' ' +future_unit
                }
            },
            reversal: function () {
                if (this.future !== 'all') {
                    var now = this.now;
                    this.now = this.future;
                    this.future = now;
                }
            }
        }
    });
    var area = new Vue({
        el:'#area',
        data: {
            units: [
                {
                    key: 'metric',
                    name: '公制',
                    values: [
                        {unit: '平方毫米(m㎡)', key: 'mm', value: 0, formula: 1},
                        {unit: '平方厘米(c㎡)', key: 'cm', value: 0, formula: Math.pow(10,2)},
                        {unit: '平方分米(d㎡)', key: 'dm', value: 0, formula: Math.pow(10,4)},
                        {unit: '平方米(㎡)', key: 'm', value: 0, formula: Math.pow(10,6)},
                        {unit: '平方千米(k㎡)', key: 'km', value: 0, formula: Math.pow(10,12)}
                    ]
                },
                {
                    key: 'cn',
                    name: '市制',
                    values: [
                        {unit: '平方寸', key: 'cn_cun', value: 0, formula: 1 / 0.0009},
                        {unit: '平方尺', key: 'cn_chi', value: 0, formula: 1 / 9 / Math.pow(10,-6)},
                        {unit: '分', key: 'cn_fen', value: 0, formula: 1 / 1.5 / Math.pow(10,-8)},
                        {unit: '亩', key: 'cn_mu', value: 0, formula: 1 / 1.5 / Math.pow(10,-9)},
                        {unit: '顷', key: 'cn_qing', value: 0, formula: 1 / 1.5 / Math.pow(10,-11)}
                    ]
                },
                {
                    key: 'en_us',
                    name: '英／美',
                    values: [
                        {key: 'in', unit: '平方英寸(in)', value: 0, formula: 1 / 0.00155},
                        {key: 'ft', unit: '平方英尺(ft)', value: 0, formula: 1 / 0.0000108},
                        {key: 'yd', unit: '平方码(yd)', value: 0, formula: 1 / 1.196 / Math.pow(10,-6)},
                        {key: 'mi', unit: '平方英里(mi)', value: 0, formula: 1 / 3.861 / Math.pow(10,-13)},
                        {key: 'mi', unit: '英亩(acre)', value: 0, formula: 1 / 2.4711 / Math.pow(10,-10)},
                    ]
                }
            ],
            display: {
                all: true,
                clear: false,
                clearData: null
            },
            input: 0,
            now: 'cm',
            future: 'all'
        },
        watch: {
            input: function () {
                this.translate()
            },
            now: function () {
                this.translate()
            },
            future: function () {
                if (this.future === 'all') {
                    this.display.clear = false;
                    this.display.all = true;
                } else {
                    this.translate();
                    this.display.clear = true;
                    this.display.all = false;
                }
            }
        },
        methods: {
            translate: function () {
                var that = this;
                var now_formula = 0;
                var future_formula = 0;
                var future_unit, now_unit;
                _.forEach(this.units, function (value, key) {
                    var future = _.find(value.values, {'key': that.future});
                    var now = _.find(value.values, {'key': that.now});
                    if (future !== undefined) {
                        future_unit = _.result(future, 'unit');
                        future_formula = _.result(future, 'formula');
                    }
                    if (now !== undefined) {
                        now_unit = _.result(now, 'unit');
                        now_formula = _.result(now, 'formula');
                    }
                });
                _.forIn(this.units, function (group, g_key) {
                    _.forEach(group.values, function (value, key) {
                        value.value = parseFloat(that.input) * now_formula / parseFloat(value.formula);
                        value.value = _Run.toExponential(value.value,7,4)
                    })
                });
                if (this.future !== 'all') {
                    var result = this.input * now_formula / future_formula;
                    this.display.clearData = this.input + now_unit + '=' +
                        _Run.toExponential(result,7,4) + ' ' +future_unit
                }
            },
            reversal: function () {
                if (this.future !== 'all') {
                    var now = this.now;
                    this.now = this.future;
                    this.future = now;
                }
            }
        }
    })

    var bulk = new Vue({
        el:'#bulk',
        data: {
            units: [
                {
                    key: 'metric',
                    name: '公制',
                    values: [
                        {unit: '立方毫米(mm³)', key: 'mm³', value: 0, formula: 1},
                        {unit: '立方厘米(cm³)', key: 'cm³', value: 0, formula: Math.pow(10,3)},
                        {unit: '立方分米(dm³)', key: 'dm³', value: 0, formula: Math.pow(10,6)},
                        {unit: '立方米(m³)', key: 'm³', value: 0, formula: Math.pow(10,9)},
                        {unit: '微升(ul)', key: 'ul', value: 0, formula: 1},
                        {unit: '公石(hl)', key: 'hl', value: 0, formula: Math.pow(10,8)},
                        {unit: '厘升(cl)', key: 'cl', value: 0, formula: Math.pow(10,4)},
                        {unit: '毫升(ml)', key: 'ml', value: 0, formula: Math.pow(10,3)},
                        {unit: '分升(dl)', key: 'dl', value: 0, formula: Math.pow(10,6)},
                        {unit: '升(l)', key: 'l', value: 0, formula: Math.pow(10,6)}
                    ]
                },
                {
                    key: 'en_us',
                    name: '英制',
                    values: [
                        {key: 'cu_in', unit: '立方英寸(cu_in)', value: 0, formula: 1 / 0.000061},
                        {key: 'cu_ft', unit: '立方英尺(cu_ft)', value: 0, formula: 1 / 3.5315 / Math.pow(10,-8)},
                        {key: 'cu_yd', unit: '立方码(cu_yd)', value: 0, formula: 1 / 1.3080 / Math.pow(10,-9)},
                        {key: 'uk_gal', unit: '亩英尺(uk_gal)', value: 0, formula: 1 / 8.1071 / Math.pow(10,-13)},
                        {key: 'us_gal', unit: '英制加仑(us_gal)', value: 0, formula: 1 / 2.1997 / Math.pow(10,-7)},
                        {key: 'acre', unit: '美制加仑(acre)', value: 0, formula: 1 / 2.6417 / Math.pow(10,-7)},
                        {key: 'uk_oz', unit: '英制液体盎司(uk_oz)', value: 0, formula: 1 / 0.0000352},
                        {key: 'us_oz', unit: '美制液体盎司(us_oz)', value: 0, formula: 1 / 0.0000342}
                    ]
                }
            ],
            display: {
                all: true,
                clear: false,
                clearData: null
            },
            input: 0,
            now: 'cm³',
            future: 'all'
        },
        watch: {
            input: function () {
                this.translate()
            },
            now: function () {
                this.translate()
            },
            future: function () {
                if (this.future === 'all') {
                    this.display.clear = false;
                    this.display.all = true;
                } else {
                    this.translate();
                    this.display.clear = true;
                    this.display.all = false;
                }
            }
        },
        methods: {
            translate: function () {
                var that = this;
                var now_formula = 0;
                var future_formula = 0;
                var future_unit, now_unit;
                _.forEach(this.units, function (value, key) {
                    var future = _.find(value.values, {'key': that.future});
                    var now = _.find(value.values, {'key': that.now});
                    if (future !== undefined) {
                        future_unit = _.result(future, 'unit');
                        future_formula = _.result(future, 'formula');
                    }
                    if (now !== undefined) {
                        now_unit = _.result(now, 'unit');
                        now_formula = _.result(now, 'formula');
                    }
                });
                _.forIn(this.units, function (group, g_key) {
                    _.forEach(group.values, function (value, key) {
                        value.value = parseFloat(that.input) * now_formula / parseFloat(value.formula);
                        value.value = _Run.toExponential(value.value,7,4)
                    })
                });
                if (this.future !== 'all') {
                    var result = this.input * now_formula / future_formula;
                    this.display.clearData = this.input + now_unit + '=' +
                        _Run.toExponential(result,7,4) + ' ' +future_unit
                }
            },
            reversal: function () {
                if (this.future !== 'all') {
                    var now = this.now;
                    this.now = this.future;
                    this.future = now;
                }
            }
        }
    })
</script>
</html>